	<ion-view title="Feed" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="feed-container1" class="article-div">
      <div class="list card" id="feed-card21">
        <ion-item class="item-avatar" id="feed-list-item10">
          <h2>New York Times</h2>
          <p>2m ago</p>
        </ion-item>
        <h3 id="feed-heading3" style="color:#000000;font-weight:300;text-align:center;">Heading</h3>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="feed-list-item-container4">
          <div id="feed-markdown6" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Some friendly
              <strong>markdown</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <ion-list id="feed-list2">
      <ion-item class="item-avatar" id="feed-list-item7">
        <h2>@berniebro is attending political rally in </h2>
        <p>2m ago</p>
      </ion-item>
      <div class="item item-body" id="feed-list-item-container2">
        <div id="feed-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FF0000;font-size:20px;">Supreme Court rules travel ban unconstitutional</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>